.section {
  margin-top: 150px;
}

.section--rounded {
  border-radius: 50px;
}

.section--pink {
  background: var(--light-pink);
}

.section--purple {
  background: var(--purple);
}

.section__col h2 {
  line-height: 130%;
  margin-bottom: 40px;
}

.section__col p {
  line-height: 160%;
}

.section h2 {
  text-align: center;
  margin-bottom: 50px;
}

.section__subtitle {
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 160%;
  max-width: 590px;
}