.slide {
  padding: 60px 70px 50px 70px;
  display: flex;
  gap: 30px;
}

.slide--active {
  width: 645px;
  box-shadow: 0px 20px 0px #8c58da;
}

.slide--active::before,
.slide--active::after {
  display: none;
}

.slide__img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.slide__user {
  font-weight: 800;
  font-size: 18px;
  line-height: 160%;
}

.slide__job {
  color: var(--purple);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  margin-bottom: 20px;
}

.slide__text {
  font-size: 18px;
  line-height: 180%;
}

@media screen and (max-width: 768px) {
  .slide {
    display: none;
    padding: 30px 40px 20px 40px;
  }
  .slide--active {
    display: flex;
    width: 100%;
  }
  .slide__text {
    font-size: 16px;
    line-height: 150%;
  }
}

@media screen and (max-width: 450px) {
  .slide--active {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .slide__content {
    text-align: center;
  }
}